$colors: (
    text: #FFF,
    accent: #64D130,
    grey: #6B6767
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body#home {
    background: url(../images/gradient.png) no-repeat center center fixed;
    background-size: cover;
}

#accessories {
    background-color: #000;
}

nav {
    height: fit-content;
    width: 100%;
    z-index: 5;

    a {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: color(text);
    }

    p#logo a {
        font-family: Verdana, sans-serif;
        text-transform: capitalize;
        height: 70px;
        font-weight: 700;
        font-size: 1em;
        color: color(text);
        position: relative;
    }

    p#logo {
        display: inline-block;
        margin-top: 26px;
        margin-left: 30px;
    }

    ul {
        margin: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
        width: fit-content;
        position: absolute;
        right: 17px;
        top: 10px;
        background-color: rgba(0, 0, 0, .7);
    }

    ul.open {
        height: fit-content;
    }

    li {
        list-style-type: none;
        display: block;
        margin: 17px;
    }

    #hamburger {
        height: 21px;
        width: 33px;
        position: absolute;
        top: 27px;
        right: 26px;
        z-index: 10;
    }
    
    #hamburger span {
        border-radius: 9px;
        width: 100%;
        height: 2px;
        display: inline-block;
        position: absolute;
    }
    
    #hamburger span:nth-child(1) {
        top: 0px;
        background-color: white;
    }
    
    #hamburger span:nth-child(2), #hamburger span:nth-child(3) {
        top: .5em;
        transition: .5s ease-in-out;
        background-color: white;
    }
    
    #hamburger span:nth-child(4) {
        top: 1em;
        background-color: white;
    }
    
    
    span:nth-child(1).open {
        visibility: hidden;
    }
    
    span:nth-child(2).open {
        transform: rotate(45deg);
        background-color: color(accent) !important;
    }
    
    span:nth-child(3).open {
        transform: rotate(-45deg);
        background-color: color(accent) !important;
    }
    
    span:nth-child(4).open {
        visibility: hidden;
    }
}

#bike {
    display: block;
    width: 89%;
    margin: 5px auto;
}

#bike3 {
    display: block;
    width: 100%;
    margin: 45px auto;
}

main {

    h1 {
        color: color(accent);
        font-size: 38px;
        margin-bottom: 0;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
    }

    h2 {
        color: color(text);
        size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    p {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        size: 18px;
        color: color(text);
    }

    section {
        width: 100%;
        padding: 0 17px;
    }

    h3 a {
        color: color(accent);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
}

#arrows {
    display: none;
}
    
aside {
    display: none;
}

.active {
    background-color: rgba(255, 255, 255, .3);
}

#accessories-footer {
    position: absolute;
    bottom: 15px;
}

footer {
    margin: 10px auto;
    width: 100%;
    padding: 0 17px;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 15px;
        margin-right: 15px;
        color: color(gray);
        display: inline;
    }
}

@media only screen and (min-width: 740px) {
    #bike {
        width: 79%;
    }
    main section {
        width: 86%;
        margin-left: 5%;
    }
    footer {
        width: 91%;
    }
}

@media only screen and (min-width: 880px) {
    //home screen
    #bike {
        width: 64%;
    }
    #hamburger {
        display: none;
    }
    nav ul {
        height: fit-content;
        background-color: transparent;
        right: 5%;
        top: 20px;
    }
    nav li {
        display: inline-block;
        margin: 8px;
    }
    //accessories
    #bike3 {
        position: absolute;
        bottom: 116px;
    }
    #accessories-footer {
        width: 97%;
    }
    #discover-more {
        position: absolute;
        bottom: 70px;
        left: 50%;
        margin-left: -64px;
    }
    #accessories-section {
        width: 94%;
        text-align: center;
        margin: 106px auto;
    }
}

@media only screen and (min-width: 1200px) {
    #bike {
        height: auto;
        width: 60%;
        margin: 0;
        position: absolute;
        left: 63px;
        top: 18%;
    }
    main {
        section {
            position: absolute;
            width: 31%;
            top: 25%;
            right: 2%;
        }
        h1 {
            margin: 0;
        }
        h2 {
            margin: 21px 0;
        }
    }
    footer {
        width: 42%;
        position: absolute;
        bottom: 3%;
        left: 5%;
    }
    aside {
        display: block;
        width: 20px;
        position: relative;
        top: 30%;
        left: 3%;
    }

    aside span {
        border-radius: 50%;
        border: 2px solid color(accent);
        height: 16px;
        width: 16px;
        display: block;
        margin-top: 22px;
    }

    .active {
        background-color: rgba(255, 255, 255, .3);
    }

    .fas {
        color: color(accent);
        font-size: 35px;
    }

    #arrows {
        display: inline-block;
        position: absolute;
        bottom: 25px;
        right: 100px;
    }
    //accessories page
    #bike3 {
        bottom: 0;
        margin: 0 auto;
    }
    #accessories-section {
        position: static;
        width: 82%;
        margin: 127px auto;
    }
    #discover-more {
        bottom: 100px;
    }
    #accessories-footer {
        width: 97%;
        left: 5px;
    }
}

// ********************** //

// nav {
//     height: 75px;
//     width: 84%;
//     margin: 0 auto;

//     ul {
//         margin: 0;
//         padding: 0;
//         height: 100%;
//         float: right;
//     }

//     li {
//         list-style-type: none;
//         display: inline-block;
//         padding-left: 45px;
//         padding-top: 50px;
//     }

//     a {
//         font-family: 'Roboto', sans-serif;
//         font-weight: bold;
//         font-size: 14px;
//         text-transform: uppercase;
//         text-decoration: none;
//         color: color(text);
//     }

//     p#logo a {
//         font-family: Verdana, sans-serif;
//         text-transform: capitalize;
//         height: 70px;
//         font-weight: 700;
//         font-size: 1.3em;
//         color: color(text);
//         position: relative;
//     }

//     p#logo {
//         display: inline-block;
//         padding-top: 43px;
//         margin: 0;
//     }
// }

// #bike {
//     height: auto;
//     width: 55%;
//     margin-top: 4%;
//     position: absolute;
//     left: 100px;
//     z-index: -5;
// }

// main {

//     h1 {
//         color: color(accent);
//         font-size: 42px;
//         font-weight: bold;
//         font-family: 'Roboto Condensed', sans-serif;
//     }

//     h2 {
//         color: color(text);
//         size: 24px;
//         font-family: 'Roboto', sans-serif;
//         font-weight: bold;
//     }

//     p {
//         font-family: 'Roboto Condensed', sans-serif;
//         font-weight: 700;
//         size: 18px;
//         color: color(text);
//     }

//     section {
//         width: 33%;
//         float: right;
//         margin-top: 135px;
//         margin-right: 50px;
//     }

//     h3 a {
//         color: color(accent);
//         font-family: 'Roboto', sans-serif;
//         font-size: 16px;
//     }
// }

// aside {
//     width: 20px;
//     position: relative;
//     top: 30%;
//     left: 3%;
// }

// aside span {
//     border-radius: 50%;
//     border: 2px solid color(accent);
//     height: 16px;
//     width: 16px;
//     display: block;
//     margin-top: 22px;
// }

// .active {
//     background-color: rgba(255, 255, 255, .3);
// }

// .fas {
//     color: color(accent);
//     font-size: 35px;
// }

// #arrows {
//     position: absolute;
//     bottom: 90px;
//     right: 100px;
// }

// footer {
//     position: absolute;
//     bottom: 55px;
//     left: 130px;

//     a {
//         text-decoration: none;
//         font-family: 'Roboto Condensed', sans-serif;
//         font-weight: bold;
//         font-size: 15px;
//         margin-right: 15px;
//         color: color(gray);
//         display: inline;
//     }
// }