<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../assets/stylesheets/main.css">
    <title>Kawasaki</title>
</head>
<body id='accessories'>
<nav>
    <p id='logo'><a href='https://andrew1451.github.io/Kawasaki/views/pages/index'>Kawasaki</a></p>
    <div id='hamburger'>
        <span class='mobile-nav'></span>
        <span class='mobile-nav'></span>
        <span class='mobile-nav'></span>
        <span class='mobile-nav'></span>
    </div>
    <ul class='navlist mobile-nav'>
        <li><a href='https://andrew1451.github.io/Kawasaki/views/pages/index'>Home</a></li>
        <!-- <li><a href='https://andrew1451.github.io/Kawasaki/views/pages/accessories'>Gallery</a></li> -->
        <li><a href='https://andrew1451.github.io/Kawasaki/views/pages/specs'>Specs</a></li>
        <!-- <li><a href='https://andrew1451.github.io/Kawasaki/views/pages/accessories'>Offers</a></li> -->
        <li><a href='https://andrew1451.github.io/Kawasaki/views/pages/accessories'>Accessories</a></li>
        <!-- <li><a href='https://andrew1451.github.io/Kawasaki/views/pages/specs'>Comparable Models</a></li> -->
    </ul>
</nav>
<main>
    <img id='bike2' src='../../assets/images/bike2.png' alt='Kawasaki bike'>
    <section id='specs-section'>
        <h1>NINJA H2&trade;R</h1>
        <p>Surrounding the Ninja H2&trade;R motorcycle's high-output engine are a multitude of premium, 
            high-performance components, selected specifically for unmatchable performance at track speeds.
        </p>
        <ul id='specs-list'>
            <li>
                Commonly found in high-performance racing machines, the dog-ring transmission allows for 
                effortless, short shifts.
            </li>
            <li>
                Remote shock preload adjuster makes it easy to adjust settings without tools to suit the rider preference.
            </li>
            <li>
                Dual radial-mount, opposed 4-piston Brembo Stylema&reg; front calipers for aggressive braking.
            </li>
            <li>
                The star-pattern 5-spoke wheels offer optimum rigidity for high power performance.
            </li>
        </ul>
        <h3><a href='#'>LEARN MORE</a></h3>
    </section>
</main>
<aside>
    <span class='circle'></span>
    <span class='circle active'></span>
    <span class='circle'></span>
</aside>
<div id='arrows'>
    <a href='https://andrew1451.github.io/Kawasaki/views/pages/index'>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="38" height="38"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g transform="translate(4.988,4.988) scale(0.942,0.942)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" 
        stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" 
        font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g fill="#64d130" stroke="#000000" stroke-width="10" stroke-linejoin="round"><g 
        id="surface1 1"><path d="M165.12,86c0,43.63156 -35.48844,79.12 -79.12,79.12c-43.63156,0 -79.12,-35.48844 -79.12,-79.12c0,-43.63156 35.48844,
        -79.12 79.12,-79.12c43.63156,0 79.12,35.48844 79.12,79.12zM66.78438,86l31.96781,-31.96781c1.34375,-1.34375 1.34375,-3.52062 0,-4.86437c-1.34375,
        -1.34375 -3.52062,-1.34375 -4.86437,0l-34.4,34.4c-1.34375,1.34375 -1.34375,3.52062 0,4.86437l34.4,34.4c0.67187,0.67188 1.54531,1.00781 2.43219,
        1.00781c0.88688,0 1.76031,-0.33594 2.43219,-1.00781c1.34375,-1.34375 1.34375,-3.52062 0,-4.86437z"></path></g></g><path d="M0,172v-172h172v172z" 
        fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><g fill="#64d130" stroke="none" stroke-width="1" stroke-linejoin="miter">
        <g id="surface1"><path d="M86,6.88c-43.63156,0 -79.12,35.48844 -79.12,79.12c0,43.63156 35.48844,79.12 79.12,79.12c43.63156,0 79.12,-35.48844 79.12,
        -79.12c0,-43.63156 -35.48844,-79.12 -79.12,-79.12zM98.75219,117.96781c1.34375,1.34375 1.34375,3.52062 0,4.86437c-0.67187,0.67188 -1.54531,1.00781
        -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781l-34.4,-34.4c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437l34.4,-34.4c1.34375,
        -1.34375 3.52062,-1.34375 4.86437,0c1.34375,1.34375 1.34375,3.52062 0,4.86437l-31.96781,31.96781z"></path></g></g><path d="" fill="none" 
        stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter">
        </path></g></g></svg></a>

    <a href='https://andrew1451.github.io/Kawasaki/views/pages/accessories'>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="38" height="38"
    viewBox="0 0 172 172"
    style="margin-left: 8px; fill:#000000;"><g transform="translate(4.988,4.988) scale(0.942,0.942)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" 
        stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" 
        font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g fill="#64d130" stroke="#000000" stroke-width="10" stroke-linejoin="round"><g 
        id="surface1 1"><path d="M165.12,86c0,43.63156 -35.48844,79.12 -79.12,79.12c-43.63156,0 -79.12,-35.48844 -79.12,-79.12c0,-43.63156 35.48844,
        -79.12 79.12,-79.12c43.63156,0 79.12,35.48844 79.12,79.12zM112.51219,83.56781l-34.4,-34.4c-1.34375,-1.34375 -3.52062,-1.34375 -4.86437,0c-1.34375,
        1.34375 -1.34375,3.52062 0,4.86437l31.96781,31.96781l-31.96781,31.96781c-1.34375,1.34375 -1.34375,3.52062 0,4.86437c0.67187,0.67188 1.54531,
        1.00781 2.43219,1.00781c0.88688,0 1.76031,-0.33594 2.43219,-1.00781l34.4,-34.4c1.34375,-1.34375 1.34375,-3.52062 0,-4.86437z"></path></g></g>
        <path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><g fill="#64d130" stroke="none" 
        stroke-width="1" stroke-linejoin="miter"><g id="surface1"><path d="M86,6.88c-43.63156,0 -79.12,35.48844 -79.12,79.12c0,43.63156 35.48844,
        79.12 79.12,79.12c43.63156,0 79.12,-35.48844 79.12,-79.12c0,-43.63156 -35.48844,-79.12 -79.12,-79.12zM112.51219,88.43219l-34.4,34.4c-0.67187,
        0.67188 -1.54531,1.00781 -2.43219,1.00781c-0.88687,0 -1.76031,-0.33594 -2.43219,-1.00781c-1.34375,-1.34375 -1.34375,-3.52062 0,
        -4.86437l31.96781,-31.96781l-31.96781,-31.96781c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437c1.34375,-1.34375 3.52062,-1.34375 
        4.86437,0l34.4,34.4c1.34375,1.34375 1.34375,3.52062 0,4.86437z"></path></g></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,
        -47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-width="1" 
        stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,
        -82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-width="1" 
        stroke-linejoin="miter"></path><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path>
        <path d="M3.44,168.56v-165.12h165.12v165.12z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="" fill="none" 
        stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter">
        </path></g></g></svg></a>
</div>
<footer>
    <a href='#'>Supercharger</a>
    <a href='#'>Impeller</a>
    <a href='#'>Planetary Gear</a>
    <a href='#'>Engine</a>
</footer>
<script type='text/javascript' src='../../scripts/javascript.js'></script>
</body>
</html>